body {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans 300 Light";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 95%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 950px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
}
.button {
  padding: 18px 30px;
  background-color: #ffd200;
  border: none;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  font-weight: 700;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.section-subtitle {
  font-size: 16px;
}

.arrow-up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #ffd200;
  padding: 7px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: none;
}

.show {
  display: block;
}

.navbar {
  padding: 8px 0;
}
.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__info {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navbar__address {
  font-size: 13px;
  font-weight: 400;
}
.navbar__button {
  margin-left: 30px;
}
.navbar__phone {
  margin-top: 9px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__info {
    display: none;
  }
}
@media (max-width: 576px) {
  .navbar__button {
    padding: 15px 17px;
    font-size: 10px;
  }
}
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero-text {
  width: 55%;
  padding-right: 130px;
}
.hero-text__title {
  margin-bottom: 37px;
  font-size: 41px;
  line-height: 55px;
  font-weight: 700;
}
.hero-text__subtitle {
  margin-top: 0;
  margin-bottom: 69px;
  font-size: 20px;
  font-weight: 400;
}
.hero-img {
  width: 50%;
}
.hero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-list__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
}
.hero-list__text {
  max-width: 232px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-text {
    width: 95%;
    padding-right: 0;
  }
  .hero-img {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    margin-bottom: 13px;
    line-height: 1.4;
  }
  .hero-text__subtitle {
    font-size: 16px;
    font-weight: 400;
    max-width: 196px;
  }
  .hero-list__img {
    margin-right: 15px;
  }
  .hero-list__text {
    font-size: 12px;
  }
}
@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.offer {
  padding-top: 84px;
  padding-bottom: 92px;
  background: url("../img/offer/offer-img.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}
.offer::before {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}
.offer-block {
  padding-right: 91px;
  width: 50%;
  position: relative;
}
.offer__title {
  text-align: left;
  max-width: 345px;
  line-height: 35px;
  font-weight: 700;
}
.offer__subtitle {
  margin-bottom: 30px;
  display: block;
  max-width: 240px;
}
.offer__button {
  width: 100%;
  min-height: 70px;
  font-size: 16px;
}
.offer__input {
  margin-bottom: 27px;
  width: 240px;
  padding: 26px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  outline: none;
}
.offer__input:focus {
  border: 2px solid #ffd200;
}
.offer__input:first-child {
  margin-right: 10px;
}
.offer-info {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 490px;
  font-size: 14px;
  line-height: 24px;
}
.offer-info__text {
  margin-right: 73px;
}
.offer-info__phone span {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .offer {
    background: none;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 576px) {
  .offer__button {
    font-size: 12px;
  }
}
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-img.jpg") repeat-y center left;
  background-size: 50%;
  padding: 100px 0;
}
.portfolio__title {
  font-size: 30px;
  margin-bottom: 95px;
  line-height: 45px;
}

@media (max-width: 768px) {
  .portfolio__title {
    font-size: 24px;
  }
}
.price {
  padding-top: 100px;
  padding-bottom: 162px;
}
.price__title {
  margin: 0;
  font-size: 30px;
  line-height: 45px;
}
.price__subtitle {
  margin-top: 50px;
  text-align: center;
  display: block;
  font-size: 20px;
  margin-bottom: 59px;
}
.price .card {
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.price .card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}
.price .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.price .card__price {
  margin-bottom: 30px;
}
.price .card-text {
  padding-top: 35px;
  padding-bottom: 48px;
  text-align: center;
}
.price .card-text__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 31px;
}
.price .card-text__link {
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.price .card-text__link:hover::after {
  height: 12px;
}
.price .card-text__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  left: 0;
  bottom: -4px;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.price .card-image {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.price .card-image:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/price/hover-bg.png");
}

@media (max-width: 768px) {
  .price__title {
    font-size: 24px;
  }
  .price .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.spec {
  padding-bottom: 100px;
}
.spec__title {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 49px;
}
.spec__subtitle {
  font-size: 20px;
  display: block;
  text-align: center;
  margin-bottom: 69px;
}
.spec-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.spec-block__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  position: relative;
}
.spec-block__item::before {
  content: "";
  display: block;
  width: 75px;
  height: 25px;
  background: url("../img/spec/arrow.png") no-repeat;
  position: absolute;
  top: -11px;
  left: 200px;
}
.spec-block__item:last-child::before {
  display: none;
}
.spec-block__img {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.spec-block__text {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .spec__title {
    font-size: 24px;
  }
  .spec__subtitle {
    font-size: 18px;
  }
  .spec-block__item::before {
    left: 160px;
  }
}
@media (max-width: 992px) {
  .spec-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .spec-block__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .spec-block__item::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .spec-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .spec-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (max-width: 576px) {
  .spec-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .spec-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 25px;
  }
}
.info {
  padding: 100px 0;
  background-color: #ffd200;
}
.info__title {
  margin: 0;
  font-size: 32px;
  line-height: 50px;
}

@media (max-width: 576px) {
  .info__title {
    font-size: 24px;
  }
}
.features {
  padding-top: 100px;
  padding-bottom: 100px;
}
.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features-block__item {
  padding: 27px 57px 322px 25px;
  max-width: 370px;
}
.features-block__item:nth-child(1) {
  background: url("../img/features/man-1.jpg");
}
.features-block__item:nth-child(2) {
  background: url("../img/features/man-2.jpg");
}
.features-block__item:nth-child(3) {
  background: url("../img/features/man-3.jpg");
}
.features-block__text {
  font-size: 16px;
  line-height: 23px;
}

@media (max-width: 1200px) {
  .features-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .features-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-block__item {
    margin-right: 0;
  }
}
.garant {
  padding-bottom: 100px;
}
.garant__title {
  margin-bottom: 99px;
  font-size: 30px;
  line-height: 45px;
}
.garant-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.garant-block__text {
  margin-top: 41px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .garant-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .garant__title {
    font-size: 24px;
  }
}
.brif {
  padding-top: 106px;
  padding-bottom: 100px;
  background: url("../img/interview/color-bg.png"), url("../img/interview/interview-bg.jpg");
  background-size: 50%, cover;
  background-position: center left, center right;
  background-repeat: repeat-y, no-repeat;
}
.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.brif .interview {
  padding-right: 21px;
}
.brif .interview__title {
  font: 22px;
  line-height: 35px;
  margin-bottom: 50px;
}
.brif .interview__subtitle {
  font-size: 16px;
  margin-bottom: 94px;
  display: block;
}
.brif .interview-list {
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}
.brif .interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.brif .interview-list__counter {
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32px;
}
.brif .interview-list__text {
  max-width: 379px;
}
.brif__form {
  padding-left: 230px;
}
.brif .form__title {
  text-align: center;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 52px;
}
.brif .form__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 49px;
}
.brif__input {
  display: block;
  width: 100%;
  max-width: 370px;
  padding: 26px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 15px;
}
.brif__input:focus {
  outline: none;
  border: 2px solid #ffd200;
}
.brif__button {
  margin-top: 15px;
  width: 100%;
  height: 70px;
  font-size: 16px;
  max-width: 370px;
}
.brif__call {
  display: block;
  text-align: center;
  margin-top: 33px;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .brif .interview {
    padding-right: 70px;
  }
  .brif__form {
    padding-left: 20px;
  }
}
@media (max-width: 992px) {
  .brif {
    padding-top: 106px;
    padding-bottom: 100px;
    background: url("../img/interview/color-bg.png"), url("../img/interview/interview-bg.jpg");
    background-size: 100% 50%, cover;
    background-position: top center, bottom center;
    background-repeat: repeat-x, no-repeat;
  }
  .brif .interview {
    padding-right: 70px;
    padding-right: 0;
  }
  .brif .interview__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .brif .interview__subtitle {
    text-align: center;
    margin-bottom: 30px;
  }
  .brif .interview-list__counter {
    margin-right: 15px;
  }
  .brif .interview-list__text {
    max-width: auto;
  }
  .brif__form {
    padding-top: 140px;
    padding-left: 0;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
  .brif__button {
    display: block;
    margin: auto;
  }
}
.footer {
  position: relative;
}
.footer .map {
  position: absolute;
  width: 50%;
}
.footer .contacts-block {
  padding-top: 100px;
  padding-left: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer .contacts__title {
  font-size: 24px;
  line-height: 45px;
  margin-bottom: 100px;
}
.footer .contacts-list {
  list-style: none;
  padding: 0;
}
.footer .contacts-list__img {
  height: 20px;
  width: 20px;
  margin-right: 22px;
}
.footer .contacts-list__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}
.footer .contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.footer .contacts-list__link {
  text-decoration: none;
  color: #333333;
}

@media (max-width: 992px) {
  .footer .contacts__title {
    font-size: 18px;
  }
  .footer .contacts-block {
    padding-top: 70px;
    padding-left: 150px;
  }
}
@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .map {
    width: 100%;
  }
  .footer .map .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  display: none;
}
.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-dialog {
  padding: 40px;
  margin: auto;
  max-width: 450px;
  min-height: 200px;
  width: 90%;
  background-color: #fff;
  position: relative;
}
.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
