.garant {
  padding-bottom: 100px;
}
.garant__title {
  margin-bottom: 99px;
  font-size: 30px;
  line-height: 45px;
}
.garant-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.garant-block__text {
  margin-top: 41px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .garant-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .garant__title {
    font-size: 24px;
  }
}
